<html>

<head>
    <link rel="stylesheet" href="public/css/style.css">
    <title>Terraform Cloud Operator for Kubernetes Demo App"</title>

</head>

<body>
    <h1>Terraform Cloud Operator for Kubernetes Demo App</h1>
    
    {{ range $key, $value := . }}
        <h2>{{ $key }}: {{ $value }}</h2>
    {{ end }}
    <script type="application/javascript" src="public/js/app.js"></script>
</body>

</html>